@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Vollkorn&display=swap');

body{ 
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../images/forest.jpg") no-repeat;
    background-position: center;
    background-size: cover;
   
}
.quiz-area {
    border: 2px solid;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    box-shadow: 7px 7px 8px 8px gray;
    background-color: rgb(46, 75, 4)
    
}

 
.header{
    margin-top: 0;
    font-family: vollkorn;
    color: whitesmoke;
      
  }

  #question {
    margin-top: 0;
    margin-bottom: 15px;
    
  }

  .result {
    padding-top: 5px;
    font-family: Poppins;
    font-size: small;
    color: white;
     
  }
  
  #guess{
    width: 250px;
    height: 20px;
    font-size: small;
    font-family: Poppins;
     
     
  }
  
  #submit{
    width: 100px;
    height: 27px;
    background-color: darkslategrey;
    border-radius: 7px;
    color: black;
        
  }
     
  #next{
    width: 100px;
    height: 30px;
    background-color:darkslategrey;
    border-radius: 7px;
    margin-left: 50px;
    margin-right: 10px;
    color: black
     
}

  #reload{
    width: 100px;
    height: 30px;
    background-color: darkslategrey;
    border-radius: 7px;
    margin-right: 50px;
    margin-left: 10px; 
    color: black;   
  }

  button:disabled {
  background-color: lightgray;  /* light grey background */
  color: grey;             /* dark grey text */
  cursor: not-allowed;        /* changes cursor to indicate non-clickable */
  border: 1px solid #999999;
  opacity: 1; /* override browser default lower opacity */
}

  /* For medium screens size from 580px wide and down */ 

  @media screen and (max-width: 580px) {
    .quiz-area{
    width: 350px;
    height: 470px;
    }

    #next {
      margin-right: 20px;
      width: 100px;
    }
    #reload {
      margin-right: 20px;
      margin-bottom: 5px;
      width: 100px;
    }

    #submit {
      margin-top: 5px;
    }
  }

  /* For medium screens size from 580px wide and down */

  @media screen and (max-width: 400px) {

   .quiz-area {
      width: 300px;
      height: 500px;
      margin-left: 100px;
   }

   #next {
      width: 80px;
   }
   
   #reload {
    width: 80px;    
  }
}


  